*/.terraform/*
.terraform/*
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate
.idea/*
**/.terraform
**/.DS_Store
aws/terraform.tfstate
.DS_STORE
.envrc
.lh
*.tfvars
.pre-commit-config.yaml
*.out
